:root {
    --primary-color: blue;
    --text-color: black;
    --xs: 576px;
    --sm: 768px;
    --md: 992px;
    --lg: 1200px;
}

#any-cost {
    width: 100%;
}

#aircraft-size {
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 1rem 0;

}

.nav-link {
    margin-left: 2rem;
    text-align: center;
    text-decoration: underline;
}
